apiVersion: v1
kind: Pod
metadata:
  name: sitespeedio
spec:
  containers:
  - name: sitespeedio
    image: ${image}
    args:
${args}
    - --graphite.namespace=${graphite_namespace}
    - --graphite.host=graphite${graphite_host_suffix}
    securityContext:
      privileged: true
  restartPolicy: Never
